.nav-pills .nav-link {
    border-radius: 0;
    color: #000000;
    background-color: #dddddd;
}

.tab-content {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}